table{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	font-family: arial;
	background-color: lightsteelblue;
}
tr, td{
	border: 1px solid black;
	padding: 3px;
	vertical-align: top;
}
.seventy{
	width: 70%;
}
.thirty{
	width: 30%;
}

.thirtyfive{
	width: 35%;
}
img{
	height: 252px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}	
body{
	background-image: url("images/elephantbackground.jpg");
}
.scroll{
	background-color: lime;
	width: 250px;
	height: 300px;
	overflow: scroll;
	padding-right: 10px;
	padding-left: 10px;
}